<!DOCTYPE html>
<html>
<head>
    <title>🚀 My Todo App</title>

    <style>
        form{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
}

input[type=text]{
    flex:1;
    min-width:200px;
}

select{
    padding:15px;
    border-radius:10px;
}

button{
    padding:15px 20px;
}

.task{
    width:100%;
    box-sizing:border-box;
}

@media (max-width:600px){

    h1{
        font-size:28px;
    }

    form{
        flex-direction:column;
    }

    input,
    select,
    button{
        width:100%;
    }

    .task{
        font-size:18px;
    }
}
    </style>
</head>

<body>

    <h1>🚀 My Todo App</h1>
<h3>Total Tasks: {{ count }}</h3>

    <form action="/add" method="post">
        <input
            type="text"
            name="task"
            placeholder="Enter a task..."
            required
        >

        <button type="submit">
            ➕ Add Task
        </button>
    </form>

    <hr>

    {% for todo in todos %}
    <div class="task">
        <div class="task-name">
            {{ todo[1] }}
        </div>

        <a class="delete" href="/delete/{{
